body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carousel {
  width: 100%; /* Set your desired width */
  max-height: 200px; /* Set your desired height */
}
.carousel img {
  max-width: 100%; /* Set your desired maximum width */
  max-height: 200px; /* Set your desired maximum height */
}
/* .card
{
  width: 400px;height: 100px;
} */
